<!DOCTYPE html>
{% load static %}
{% load my_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Base
        {% endblock %}
    </title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<div id="container">
    {% block content %}
    {% endblock %}

    <h1>Comments:</h1>
    {% block comment %}

    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog ({% total_count %})</h2>
    <a href="{% url 'index' %}">Home</a>
    <br />
    <a href="{% url 'contact_us'%}">Contact Us</a>
</div>

</body>
</html>