{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
Post List
{% endblock %}

{% block content %}
    <h1>Post List:</h1>
    {% for post in page_obj %}
        <div>
            <h3>
               <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h3>

            {% tag_label post.tags.all.count %}
            {% for tag in post.tags.all %}
            <a href="{% url 'index_tag' tag.slug %}">
                {{ tag.slug }}
            </a>

                {% if not forloop.last %}, {% endif %}
            {% endfor %}

        </div>

    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
