{% extends "blog/base.html" %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <p class="date">Created {{ post.created }} by {{ post.author }}</p>
    {{ post.body }}

    <hr />
    <h2>Comments: </h2>
    {% for comment in comments %}
        <div>
            <p>Created {{ comment.created }} by {{ comment.name }}</p>
            {{ comment.body }}
        </div>
    {% endfor %}

    {% if new_comment %}
        <h3>Your comment has been added.</h3>
    {% else %}
        <h3>Add a new comment</h3>
        <form action="." method="POST">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}

{% endblock %}