{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div id="container">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>My blog</h2>
            <p>This is my blog.</p>
            <p>Post count: {% total_posts %}</p>
        </div>
    </body>
</html>